<nav class="navbar navbar-default">
  <div>
    <a routerLink="/login">
      Login
    </a>
  </div>
  <div *ngIf="auth.currentUser">
    <h3> {{ auth.currentUserDisplayName }}</h3>
    <img class="card-img-top" [src]="auth.currentUser.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" width=50px>
    <p class="text-truncate">UID: {{ auth.currentUserId }}</p>
    <button class="button" (click)="logout()">Logout</button>

  </div>




  <form (submit)="searchMoviesNavBar()" action="#" class="navbar-form navbar-left">
    <div class="form-group">
      <input name="searchQuery" type="text" class="form-control" placeholder="Movie title (min 3 letters)..." autocomplete="off"
        [(ngModel)]="searchQueryNavBar" (keyup)=autocompleteSearchMoviesNavBar()>
    </div>
    <button type="submit" class="btn btn-default">Search</button>
    <div class="suggestions suggestions-nav-bar" *ngIf="autocompleteMoviesNavBar.length > 0">
      <ul>
        <li *ngFor="let movie of autocompleteMoviesNavBar">
          <a (click)="selectNavBar(movie.title)">{{movie.title}}</a>
        </li>
      </ul>
    </div>
  </form>


</nav>