<ngb-tabset [justify]="fill">
  <ngb-tab title="Popular Movies">
    <ng-template ngbTabContent>
      <div class="panel-body">
        <div class="row" *ngIf="popularMovies">
          <div *ngFor="let movie of popularMovies, let i = index">
            <div *ngIf="i <= 7" class="col-sm text-center">
              <a href="#" routerLink="/movie/{{movie.id}}">
                <img *ngIf="movie.poster_path" class="img-thumbnail" src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}">
                <img *ngIf="!movie.poster_path" class="img-thumbnail" src="http://http://ddbu.billiardport.com/img/posters/no_poster_available.jpg">
              </a>
              <h4 class="text-center">{{movie.title}}</h4>
              <p class="text-center">
                <strong>Rating: </strong>{{movie.vote_average}}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Top Rated Movies">
    <ng-template ngbTabContent>
      <div class="panel-body">
        <div class="row" *ngIf="topRatedMovies">
          <div *ngFor="let movie of topRatedMovies, let i = index">
            <div *ngIf="i <= 7" class="col-sm text-center">
              <a href="#" routerLink="/movie/{{movie.id}}">
                <img *ngIf="movie.poster_path" class="img-thumbnail" src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}">
                <img *ngIf="!movie.poster_path" class="img-thumbnail" src="http://http://ddbu.billiardport.com/img/posters/no_poster_available.jpg">
              </a>
              <h4 class="text-center">{{movie.title}}</h4>
              <p class="text-center">
                <strong>Rating: </strong>{{movie.vote_average}}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Upcoming Movies">
    <ng-template ngbTabContent>
      <div class="panel-body">
        <div class="row" *ngIf="upComingMovies">
          <div *ngFor="let movie of upComingMovies, let i = index">
            <div *ngIf="i <= 7" class="col-sm text-center">
              <a href="#" routerLink="/movie/{{movie.id}}">
                <img *ngIf="movie.poster_path" class="img-thumbnail" src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}">
                <img *ngIf="!movie.poster_path" class="img-thumbnail" src="http://http://ddbu.billiardport.com/img/posters/no_poster_available.jpg">
              </a>
              <h4 class="text-center">{{movie.title}}</h4>
              <p class="text-center">
                <strong>Rating: </strong>{{movie.vote_average}}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Now Playing Movies">
    <ng-template ngbTabContent>
      <div class="panel-body">
        <div class="row" *ngIf="nowPlayingMovies">
          <div *ngFor="let movie of nowPlayingMovies, let i = index">
            <div *ngIf="i <= 7" class="col-sm text-center">
              <a href="#" routerLink="/movie/{{movie.id}}">
                <img *ngIf="movie.poster_path" class="img-thumbnail" src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}">
                <img *ngIf="!movie.poster_path" class="img-thumbnail" src="http://http://ddbu.billiardport.com/img/posters/no_poster_available.jpg">
              </a>
              <h4 class="text-center">{{movie.title}}</h4>
              <p class="text-center">
                <strong>Rating: </strong>{{movie.vote_average}}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>