<div class="container">
  <div class="container text-center">
    <br>
    <br>
    <br>
    <br>
    <form class="form-signin" data-ember-action="2">
      <h2 class="form-signin-heading">Sign in</h2>
      <small class="text-muted">Connect with your favorite social network</small>
      <br>
      <br>
      <button id="btnanon" class="btn btn-default fa fa-user fa-2x" style="margin-left:20px;" aria-hidden="true" (click)="signInAnonymously()"
        type="button"></button>
      <button class="btn btn-default fa fa-facebook-official fa-2x" style="margin-left:20px;" aria-hidden="true" (click)="signInWithFacebook()"
        type="button"></button>
      <button class="btn btn-default fa fa-github fa-2x" style="margin-left:20px;" aria-hidden="true" (click)="signInWithGithub()"
        type="button"></button>
      <button class="btn btn-default fa fa-google fa-2x" style="margin-left:20px;" aria-hidden="true" (click)="signInWithGoogle()"
        type="button"></button>
      <br>
      <br>
    </form>
  </div>
</div>